/* StyleSheet For Responsive Bootstrap Carousel 4

	Author: szthemes
	Item Name: Responsive Bootstrap Carousel 4
	Author URI: http://codecanyon.net/user/szthemes
	Description: Different Types of Bootstrap Carousel 4

  ------------------------------------------------------------------
							Fonts Styles
  ------------------------------------------------------------------
	  'Open Sans', sans-serif -------------------------------- 01
	            FontAwesome ---------------------------------- 02
  ------------------------------------------------------------------
							Color Codes
  ------------------------------------------------------------------
	NAME    ------------------------RGB-------------------------- #
	#ffffff -------------------rgb(255, 255, 255)---------------- 01
	#000000 -------------------rgb(0, 0, 0)---------------------- 02
	#0dbae8 -------------------rgb(13, 186, 232)----------------- 03 	Replace Also This Color To Change Whole Color Scheme
	#0fabd4 -------------------rgb(15, 171, 212)----------------- 04 	Replace Also This Color To Change Whole Color Scheme */

/* ------------------------------------------------------ */

/* PORTFOLIO COLUMNS CAROUSEL
/*------------------------------------------------------ */

.portfolio_col_carousel_wrapper {
  padding: 25px;
  overflow: hidden;
}

.portfolio_col_carousel_wrapper .carousel-item > .row {
  margin: 0;
}

/* ---------- LEFT/RIGHT CONTROL ---------- */

.portfolio_col_carousel_control_left, .portfolio_col_carousel_control_right {
  top: 26px;
  z-index: 2;
  opacity: 1;
  width: 35px;
  height: 35px;
  border: none;
  text-shadow: none;
  text-align: center;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.portfolio_col_carousel_control_icons {
  line-height: 35px;
  font-size: 20px !important;
  font-weight: normal !important;
}

.portfolio_col_carousel_control_left {
  left: 26px !important;
}

.portfolio_col_carousel_control_right {
  left: 63px !important;
}

.adv_left {
  left: 41px !important;
}

.adv_right {
  left: 78px !important;
}

/* ---------- CAPTION ---------- */

.portfolio_col_item_caption {
  padding-bottom: 10px;
}

/* ---------- IMAGE ---------- */

.portfolio_col_item_image {
  padding-top: 60px;
  padding-bottom: 25px;
  padding-right: 30px;
  padding-left: 30px;
}

.portfolio_col_item_image img {
  width: 100%;
}

/* ---------- TEXT ---------- */

.portfolio_col_item_caption h2 {
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
}

.portfolio_col_item_caption p {
  font-weight: 300;
  margin-top: 25px;
  letter-spacing: 1px;
  text-align: justify;
  margin-bottom: 25px;
  font-family: 'Open Sans', sans-serif;
}

.portfolio_col_item_caption a, .portfolio_col_item_caption a:visited {
  width: 110px;
  height: 42px;
  border: none;
  display: block;
  font-weight: 300;
  line-height: 40px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

/* ------------------------------------------------------ */

/* COLORS (BLUE)
/*------------------------------------------------------ */

.portfolio_col_carousel_wrapper {
  background: black;
}

/* ---------- LEFT/RIGHT CONTROL ---------- */

.portfolio_col_carousel_control_left, .portfolio_col_carousel_control_left:hover, .portfolio_col_carousel_control_left:active, .portfolio_col_carousel_control_left:focus, .portfolio_col_carousel_control_right, .portfolio_col_carousel_control_right:hover, .portfolio_col_carousel_control_right:active, .portfolio_col_carousel_control_right:focus {
  color: #ffffff;
  background: #fe6500; !important;
}

/* ---------- CAPTION ---------- */

.portfolio_col_item_caption {
  color: #ffffff;
}

.portfolio_col_item_caption a, .portfolio_col_item_caption a:visited {
  color: #ffffff;
  background: #fe6500;
}

.portfolio_col_item_caption a:hover, .portfolio_col_item_caption a:active {
  border: none;
  background: rgba(254,101,0,0.56);
}

/* ------------------------------------------------------ */

/* SLIDING TIMING FUNCTIONS
/*------------------------------------------------------ */

/* ---------- ps_ease ---------- */

.ps_ease .carousel-item {
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

/* ---------- ps_easeInOut ---------- */

.ps_easeInOut .carousel-item {
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* ---------- ps_speedy ---------- */

.ps_speedy .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}

/* ---------- ps_slowSpeedy ---------- */

.ps_slowSpeedy .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}

/* ---------- ps_easeOutInCubic ---------- */

.ps_easeOutInCubic .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}

/* ---------- ps_swing ---------- */

.ps_swing .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}

/* ---------- ps_easeOutCubic ---------- */

.ps_easeOutCubic .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}

/* ---------- ps_easeInOutCubic ---------- */

.ps_easeInOutCubic .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}

/* ---------- ps_easeOutCirc ---------- */

.ps_easeOutCirc .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}

/* ---------- ps_easeOutExpo ---------- */

.ps_easeOutExpo .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}

/* ---------- ps_easeInQuad ---------- */

.ps_easeInQuad .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}

/* ---------- ps_easeOutQuad ---------- */

.ps_easeOutQuad .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}

/* ---------- ps_easeInOutQuad ---------- */

.ps_easeInOutQuad .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}

/* ---------- ps_easeOutQuart ---------- */

.ps_easeOutQuart .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}

/* ---------- ps_easeInOutQuart ---------- */

.ps_easeInOutQuart .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}

/* ---------- ps_easeOutQuint ---------- */

.ps_easeOutQuint .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}

/* ---------- ps_easeInSine ---------- */

.ps_easeInSine .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}

/* ---------- ps_easeOutSine ---------- */

.ps_easeOutSine .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}

/* ---------- ps_easeInOutSine ---------- */

.ps_easeInOutSine .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}

/* ---------- END ---------- */

