div.divider {
  margin-top: 200px;
  margin-bottom: 200px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans';
  font-weight: 300;
  max-width: 450px;
  margin: auto;
  opacity: 1;
}

div.work img {
  width: 120px;
  margin: 20px;
  margin-top: 50px;
}

